<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
  <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PXR5L9"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PXR5L9');</script>
  <!-- End Google Tag Manager -->

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
		<div class="promos" data-promo="promo 1">Promo 1</div>
		<a href="/" class="promos" data-promo="promo 2">Promo 2</a>
      </div>
    </div>

    {% include footer.html %}
	
	<script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
    <script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
  </body>
</html>
